.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 260px;
  border-radius: 8px;
  border: 3px solid #ffffff;
  padding: 14px;
}

.card img{
  border-radius: 8px;
  margin: -10px;
  max-height: 130px;
}

.card h2{
  margin-top: 14px;
  font-size: 24px;
  margin-bottom: 4px;
}
.card h4{
  font-size: 15px;
  color: #fdfdfde8;
  margin-bottom: 10px;

}
.card h6{
  font-size: 12px;
  color: #fdfdfda8;

}

.card .cardBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px
}
.card .cardBtns a{
  font-size: 13px;
}
.card .cardBtns a:hover{
  color: rgba(102, 102, 119, 0.836);
}

@media (max-width: 340px){

}