.aboutMecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  max-width: 100%;
}
#aboutMe{
  margin: 25px 0;
}
.content{
  width: 80%;
  display: flex;
  gap: 15px;
}
.content .profile{
  background-color: #00000069;
  box-shadow: 22px 24px 26px 5px rgba(0,0,0,0.86);
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
}
.content .profile img{
  border: 2px solid #fdfdfd;
  border-radius: 50%;
  width: 180px;
}
.content .profile h3{
  padding: 15px 0;
}
.content .profile p{
  font-size: 24px;
}
.content .profile p a{
  margin: 0 10px;
}
.content .contentText{
  background-color: #242323de;
  box-shadow: 22px 24px 26px 5px rgba(0,0,0,0.86);
  border: 2px solid #000;
  border-radius: 8px;
  text-align: justify;
  padding: 15px;
  font-size: 18px;
}

@media (max-width: 730px) {
  .content{
    width: 90%;
    flex-direction: column;
  }
  .content .profile{
    box-shadow: none;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 20px;
    padding: 15px;
  }
  .content .profile p{
    font-size: 30px;
  }
}